[workspace]
members = ["crates/ranma-core", "crates/ranma-cli", "crates/uniffi-bindgen"]
resolver = "2"

[workspace.package]
version = "0.1.3"
edition = "2024"
license = "MIT"
repository = "https://github.com/typester/ranma"
